[Unit]
Description=SmartSort File Organizer Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/websrp/project/smartsort
ExecStart=/usr/bin/python3 /home/websrp/project/smartsort/main.py --daemon
Restart=on-failure

[Install]
WantedBy=default.target
